@charset "utf-8";

/* @font-face {
    font-family: "malgun";
    font-weight: 600;
    font-style: normal;
    src: url("../../font/MALGUNBD.ttf") format("truetype");
}
@font-face {
    font-family: "malgun";
    font-weight: 300;
    font-style: normal;
    src: url("../../font/MALGUN.TTF") format("truetype");
} */
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-style: none;
    font-family: "malgun";
}

ul,
li {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: middle;
}

i {
    font-style: normal;
    line-height: 36px;
}

hr {
    background: #ddd;
    height: 1px;
    border: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    /* font-family: 'nanumR'; */
    background: #eeeeee;
    color: #000;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* input */

input {
    border: 1px solid #d8d9dc;
    border-radius: 2px;
    padding-left: 10px;
}

input[type="checkbox"] + label {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    background: url(../../image/icon_check.png) no-repeat;
    background-position: 0 0;
    cursor: pointer;
    margin-bottom: 0;
    vertical-align: middle;
}

input[type="checkbox"]:checked + label {
    background-position: -16px 0;
}

input[type="checkbox"] {
    display: none;
}

input[type="text"] {
    background: white;
}

input[type="text"]:disabled {
    background: #eee !important;
    transition: all 0.7s;
}

button {
    border-radius: 2px;
    cursor: pointer;
}

button > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login_data {
    text-transform: capitalize;
}

/* 모달창 */

.modal_content button.modal_close {
    width: 16px;
    height: 16px;
    background: url(../../image/icon_close.png) no-repeat;

    border: none;
}

.modal_hd_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid #ddd; */
    padding-left: 10px;
}

.modal_content {
    background: #fff;
    border-radius: 3px;
    border: 1px solid #d8d9dc;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 450px;
    min-height: 200px;
}

.modal_content .btn_wrap {
    padding-right: 10px;
    padding-bottom: 10px;
}

.modal_content form {
    display: inline-flex;
    justify-content: center;
}

.modal_content label {
    min-width: 64px;
    display: inline-block;
    font-size: 14px;
}

.modal_tit {
    font-size: 14px;
    font-weight: bold;
}

.modal_bg .btn_info_change {
    border: 1px solid #67718d;
    background-color: #4a5164;
    color: #fff;
}

.modal_content input[type="text"],
.modal_content select {
    height: 33px;
    border: 1px solid #d8d9dc;
    border-radius: 2px;
    padding-left: 10px;
}

.modal_content ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #666;
}

.modal_content.add .modalAdd_btns {
    display: inline-block;
}

.modal_content .modalDel_btns {
    display: inline-block;
}

.modal_content .modalAdd_btns {
    display: none;
}

.dimLayer {
    display: none;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    z-index: 99999;
}

.modal_confirm {
    min-width: 330px;
    border-radius: 6px;
    padding: 20px;
    text-align: center;
}

.modal-section {
    background: #fcfcfc;
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
    z-index: 9999999;
    border: 1px solid #d8d9dc;
}

.modal_confirm_btn {
    width: 80px;
    height: 34px;
    border: 0;
    color: #fff;
    font-size: 13px;
}

.enroll_btn .modal_confirm_btn:first-child {
    margin-right: 10px;
}

.modal_confirm_ok {
    background: #1277ed;
}

.modal_confirm_close {
    background: none;
    color: #000;
    border: 1px solid #d8d9dc;
    background: #f2f2f2;
}

.menu_msg {
    font-size: 14px;
    margin-bottom: 20px;
    position: relative;
}

.menu_msg::before {
    content: "";
    background: url("../../image/icon_modal.png") no-repeat center;
    width: 34px;
    height: 34px;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

/* button */
main button {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 리스트 */
main {
    padding: 30px 20px;
}

main .content_wrap {
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: auto;
    /* flex-grow: 1; */
    /* justify-content: space-between; */
    height: 100%;
    overflow: hidden;
}

main .top_content {
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.vat_desc {
    color: #565050;
    font-size: 11px;
    font-weight: 400;
}
th select {
    font-weight: bold;
}

.search_wrap {
    display: flex;
    align-items: center;
    height: 36px;
    border: 1px solid #d8d9dc;
    border-radius: 2px;
    max-width: 368px;
    width: 100%;
    padding: 0 10px;
    position: absolute;
    font-size: 12px;
    left: 50%;
    transform: translateX(-50%);
}

.search_left select {
    border: none;
}

.search_right {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.search_right input {
    flex-grow: 1;
    border: none;
    height: 24px;
}

#btn_search {
    border: none;
    background: white;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    transition: all 0.3s;
}

#btn_search:hover {
    background-color: #0045f118;
    transition: all 0.3s;
}

.search_icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../../image/icon_search.png) no-repeat;
}

.btn_wrap {
    display: flex;
    gap: 10px;
    align-items: center;
}

.top_left button {
    width: 137px;
    border-radius: 100px;
    border: 1px solid #326edc;
    color: #326edc;
    font-size: 13px;
    font-weight: bold;
    background: white;
    transition: all 0.5s;
}

.top_left button:hover {
    background: #326edc;
    color: white;
    transition: all 0.5s;
}

.top_right button{
    width: 150px;
    height: 36px;
    background: #326edc;
    border: 1px solid #749de8;
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.top_right button .level_icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_wrap > .list {
    overflow-y: auto;
    /* max-height: 718px; */
    flex-grow: 1;
    /* min-height: 715px; */
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

}
.list table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;

}

thead {
    background-color: #f3f3f4;
    position: sticky;
    top: 0;
    z-index: 3;

}
/* thead tr {

} */

th {
    color: #333;
}

td {
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th,
td {
    font-size: 14px;
    padding: 2px 0;
    font-weight: normal;
}

thead {
    height: 40px;
}

tbody tr {
    height: 60px;
}
tbody tr:hover {
    background: aliceblue;
}

td > .date_wrap {
    display: inline-flex;
    /* gap: 10px; */
    flex-direction: column;
}

th:last-child,
td:last-child {
    border-right: none;
}

input[type="checkbox"] + label {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    background: url(../../image/icon_check.png) no-repeat;
    background-position: 0 0;
    cursor: pointer;
    margin-bottom: 0;
    vertical-align: middle;
}

input[type="checkbox"]:checked + label {
    background-position: -16px 0;
}

input[type="checkbox"] {
    display: none;
}

input[type="text"] {
    background: white;
    transition: all 0s;
}

input[type="text"]:disabled {
    background: #eee !important;
    transition: all 0.7s;
}

/* 모달창 */
.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 9999;
    display: none;
    overflow: auto;
}
.modal_wrap {
    border-radius: 4px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background: #fcfcfc;
    /* padding: 20px; */
    font-size: 20px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
    width: 90%;
}

.modal_top {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 20px 20px 0; */
    height: 60px;
    padding: 0 20px;
    border-bottom: 1px solid #d8d9dc;
}
.modal_top b {
    font-size: 14px;
    font-weight: 800;
}
/* .modal_main {
    padding: 30px;
} */
.modal_close {
    display: inline-block;
    background: url("../../image/icon_close.png") no-repeat center;
    background-position: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.modal_bottom {
    display: flex;
    /* flex-direction: row-reverse; */
    /* justify-content: space-between; */
    justify-content: flex-end;
    gap: 10px;
    padding: 20px 30px;
    border-top: 1px solid #d8d9dc;
}

.modal_bottom > div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.modal_bottom button,
#btn_link_detail {
    min-width: 90px;
    height: 36px;
    padding: 0 17px;
    font-size: 14px;
    border-radius: 2px;
    background: #ececec;
    border: 1px solid #dfdfdf;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_btn_area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.form_btn_area button {
    min-width: 90px;
    height: 28px;
    padding: 0 17px;
    font-size: 14px;
    border-radius: 2px;
    background: #9c9c9c;
    border: 1px solid #dfdfdf;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn_info_Del {
    background: #6b6b6b;
    border: 1px solid #949494;
    color: white;
}

#btn_info_save,
#btn_info_add {
    background: #326edc;
    border: 1px solid #749de8;
    color: white;
}

#btn_info_edit {
    background: #f19f00;
    border: 1px solid #f5ba47;
    color: white;
}

form hr {
    background: #e3e3e3;
    height: 1px;
    border: 0;
}

/* 라디오 버튼 */
.radio_button {
    display: inline;
    position: relative;
    padding-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.radio_button input[type="radio"] {
    display: none;
}
.on {
    width: 14px;
    height: 14px;
    background: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.radio_button input[type="radio"]:checked + .on {
    background: #1472ff;
    border: 0;
}
.on:after {
    content: "";
    position: absolute;
    display: none;
}
.radio_button input[type="radio"]:checked + .on:after {
    display: block;
}
.on:after {
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* input 공통 */
.input_row {
    /* display: flex;
    margin-bottom: 5px;e
    height: 36px;
    align-items: center; */
    display: flex;
    margin-bottom: 5px;
    /* height: 36px; */
    /* align-items: center; */
    flex-direction: column;
    gap: 5px;
}
.input_tit {
    min-width: 84px;
    height: 100%;
    position: relative;
}

.input_wrap {
    position: relative;
    flex-grow: 1;
    height: 100%;
}
.input_wrap button {
    border: 1px solid #d8d9dc;
    background: #f2f2f2;
    color: #b7b7b7;
    width: 66px;
}

.input_box ul {
    display: flex;
    align-items: center;
}
.input_box ul li {
    margin-right: 18px;
}
.input_box ul li:last-child {
    margin-right: 0;
}
.input_box small {
    font-size: 13px;
}

/*----------메인 리스트----------- */
main {
    height: calc(100% - 115px);
    flex-grow: 1;
}

main td {
    padding: 0 5px;
    word-break: keep-all;
}

/* select */
.select_box {
    position: relative;
    width: 95px;
    height: 36px;
    border: 1px solid #d8d9dc;
    cursor: pointer;
}

.select_box select {
    width: inherit;
    height: inherit;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    position: relative;
    z-index: 3;
    cursor: pointer;
    font-size: 14px;
}

.select_box select option {
    background: white;
    color: #000;
    padding: 3px 0;
    font-size: 14px;
}

/* .select_icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) ;
    right: 0;
    z-index: 3;
    width: 16px;
    height: 16px;
    background-color: white;
    background-image: url(../../image/icon_input.png);
    background-position-x: -64px;
} */

.select_box {
    border: none;
}
/* 아이콘 */
.purchase_icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(../../image/icon_document.png) no-repeat;
    cursor: pointer;
}
.collect_icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../../image/icon_collect.png) no-repeat;
    /* background-size: 24px 24px; */
}

.list_status {
    position: relative;
    font-weight: bold;
}

.list_status > div {
    /* display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 74px;
    height: 30px;
    font-size: 14px;
    font-weight: bold; */
    display: inline-block;
    width: 90px;
    height: 30px;
    background-image: url(../../image/icon_state.png);
}

.list_status[data-status="영업"] > div {
    background-position: 0 0;
}

.list_status[data-status="계약전"] > div {
    /* color: #0045ff;
    background: #0045f115; */
    background-position: 0 30px ;
}

.list_status[data-status="계약관리"] > div {
    /* color: #ff891c;
    background: #ff891115; */
    background-position: 0 60px ;
}

.list_status_P > div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.list_status_P .status_P_icon {
    width: 18px;
    height: 18px;
    display: inline-block;
    background: url(../../image/icon_confirm.png) no-repeat;
}

.list_status_P[data-status_P="완료"] .status_P_icon {
    background-position-x: -54px;
}

.list_status_P[data-status_P="발행전"] .status_P_icon {
    background-position-x: -18px;
}

.list_status_P[data-status_P="보고전"] .status_P_icon {
    background-position-x: -36px;
}

.bottom_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* 버튼 */
#btn_list_del {
    width: 90px;
    background: #dd4141;
    border: #eb7474;
    color: white;
}

#btn_request_I,
#btn_excel,
#btn_issue_I,
#btn_cancel_I {
    width: 126px;
    background: #efefef;
    border: #dfdfdf;
}

.list_Bname a,
.list_Pname a,
.list_inven_Pname a,
.list_InOutStatus a,
.list_setUser_name a {
    color: #0045ff;
}

th {
    font-weight: bold;
}

/* 에디터 */
.editor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    overflow: auto;
}
.editor_menu_wrap {
    /* width: 100%;
    height: 38px;
    background: #efefef;
    padding-left: 20px; */
    width: 100%;
    height: 38px;
    background: #efefef;
    padding-left: 20px;
    display: flex;
    gap: 8px;
    align-items: center;
}
.editor_menu {
    font-size: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.editor_menu button {
    border: 0 !important;
    background-color: transparent;
    color: #a4a4a4;
    font-size: 18px;
    margin-right: 30px;
    /* vertical-align: middle; */
    width: unset;
    border: 0;
    padding: 0;
    margin-right: 12px;
    width: 30px !important;
}
.editor_menu button.active {
    color: #0a87ed;
}
.btn-bold {
    font-weight: 900;
}
.btn-italic {
    font-style: italic;
}
.btn-underline {
    text-decoration: underline;
}
.btn-strike {
    text-decoration: line-through;
}
.editor_menu button.btn-image {
    width: 26px;
    height: 26px;
    background: url("../../image/icon_editor.png") no-repeat center;
}
.editor_menu button.btn-image {
    width: 26px;
    height: 26px;
    background: url("../../image/icon_editor.png") no-repeat center;
}
.editor_box {
    width: 100%;
    height: 100%;
    max-height: 580px;
    overflow-y: scroll;
    font-size: 14px;
    color: #000;
    padding: 22px;
}
.editor_input {
    height: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="month"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    background: url("../../image/icon_input.png") no-repeat center;
    background-position-x: -48px;
    cursor: pointer;
    height: 18px;
    overflow: hidden;
}

.editor_row .input_tit {
    align-self: flex-start;
}

.inputs_bundle {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}

.inputs_bundle button {
    /* width: 25px; */
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_wrap.inputs_bundle > input {
    flex-shrink: 1;
    letter-spacing: 1px;
}
.inputs_bundle > .checks_bundle {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    align-items: center;
}

.inputs_bundle > .checks_bundle > div {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* 페이지 */
.paging {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    bottom: 0;
    height: 30px;
    width: 240px;
}

.paging > ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.paging > ul > li.selected {
    cursor: default;
    background: #1278ed30;
}

.paging > ul li {
    display: block;
    font-size: 14px;
    line-height: 30px;
    float: left;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    margin-right: 3px;
    border-radius: 2px;
}

.paging > ul li:last-child {
    margin-right: 0;
}

.filebox {
    /* display: inline-block;
    width: 100%; */
    display: inline-flex;
    width: 100%;
    gap: 5px;
    flex-direction: column;
    /* border: 1px solid #91959c; */
}
/* .preview{
    border: 1px solid #d8d9dc;
} */
.filebox label {
    height: 36px;
    border-radius: 2px;
    border: 1px solid #91959c;
    color: #000;
    background: #f2f2f2;
    border: 1px solid #d8d9dc;
    cursor: pointer;
    line-height: 36px;
    font-size: 13px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 47px;
}

.filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.modal .select_box {
    width: 100%;
    height: 30px;
}
.modal .select_box select {
    width: inherit;
    height: inherit;
    background: white;
    border: 1px solid #d8d9dc;
    outline: none;
    padding-left: 10px;
    position: relative;
    z-index: 3;
    cursor: pointer;
}

.modal_list th,
.modal_list td {
    border-right: none;
    font-weight: normal;
}

.purchase_wrap {
    width: 854px;
    /* padding: 30px 30px 0; */
    display: flex;
    justify-content: center;
    align-items: center;
}

th > .select_box {
    display: inline-flex;
    justify-self: center;
}
th > .select_box select {
    text-align: center;
}

/* 컨펌창 */
.dimLayer {
    display: none;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 0;
    top: 0px;
    margin: 0;
    padding: 0;
    z-index: 99999;
}
.modal_confirm {
    min-width: 330px;
    border-radius: 2px;
    padding: 90px 50px 50px 50px;
    text-align: center;
    border-radius: 6px;
}
.modal-section {
    background: #fcfcfc;
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
    z-index: 9999999;
    font-size: 0;
    border: 1px solid #dcdcdc;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.modal_confirm_btn {
    width: 80px;
    height: 34px;
    border: 0;
    color: #fff;
    font-size: 13px;
}
.enroll_btn .modal_confirm_btn:first-child {
    margin-right: 10px;
}
.modal_confirm_ok {
    background: #1277ed;
}
.modal_confirm_close {
    background: none;
    color: #000;
    border: 1px solid #d8d9dc;
    background: #f2f2f2;
}
.menu_msg {
    font-size: 14px;
    margin-bottom: 20px;
    position: relative;
}
.menu_msg::before {
    content: "";
    background: url("../../image/icon_modal.png") no-repeat center;
    width: 34px;
    height: 34px;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.modal i {
    /* line-height: 36px; */
    line-height: 20px;
    white-space: nowrap;
    
}

/* 계약관리 모달창 */

.form_top {
    display: flex;
    gap: 20px;
}
/* .form_top > div {
    width: 50%;
    display: flex;
    flex-direction: column;
} */
#new_business_form form > .form_bottom {
    width: 100%;
}

.input_wrap input {
    width: 100%;
    height: 30px;
    line-height: 30px;
}

.contract_tabBtn_wrap {
    padding: 4px;
    background: #ececec;
    color: #7d7d83;
    font-size: 14px;
    font-weight: bold;
    display: inline-flex;
    justify-self: flex-start;
    align-items: center;
    border-radius: 10px;
}

.contract_tabBtn_wrap > .contract_tabBtn {
    min-width: 96px;
    padding: 9px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.contract_tabBtn_wrap > .contract_tabBtn.active {
    background: #326edc;
    color: white;
}

form {
    font-size: 14px;
}

input[type="date"]{
    padding-right: 10px;
    height: 30px;
}

.editor_row {
    height: 100%;
    flex-grow: 1;
}

/* #new_contract_form .contract_tabItem[data-tabNum="1"] .editor_row .input_wrap,
#new_contract_form .contract_tabItem[data-tabNum="1"] .editor_row .editor_input,
#new_contract_form .contract_tabItem[data-tabNum="1"] .editor_row .editor_box {
    height: 100%;
    max-height: 235px;
}
#new_business_form .contract_tabItem[data-tabNum="1"] .editor_row .input_wrap,
#new_business_form .contract_tabItem[data-tabNum="1"] .editor_row .editor_input,
#new_business_form .contract_tabItem[data-tabNum="1"] .editor_row .editor_box {
    height: 100%;
    max-height: 235px;
} */
.editor_input {
    overflow: hidden;
}

.contract_tabItem {
    display: none;
}

.contract_tabItem.active {
    display: block;
}

.modal_admin_content {
    padding-top: 20px;
}
.modal_admin_content > hr {
    margin-bottom: 20px;
}
.user .modal_admin_content {
    display: block;

}
/* .modal_admin_content .form_bottom {
    padding-bottom: 20px;
} */
.modal_admin_content form {
    padding-top: 20px;
}

#new_contract_form
    .contract_tabItem[data-tabNum="1"]
    .modal_admin_content
    .editor_row
    .input_wrap,
#new_contract_form
    .contract_tabItem[data-tabNum="1"]
    .modal_admin_content
    .editor_row
    .editor_input,
#new_contract_form
    .contract_tabItem[data-tabNum="1"]
    .modal_admin_content
    .editor_row
    .editor_box {
    height: 167px;
}
#btn_auto_calculate{
    border: none;

}
 button .icon_calculate {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(../../image/icon_input.png);
    background-position-x: -32px;
}

.input_desc {
    color: red;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.purchase_wrap .input_tit i {
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

#btn_request_I,
#btn_issue_I,
#btn_cancel_I {
    display: none;
}

.user #btn_request_I {
    display: flex;
}
.admin #btn_issue_I,
.admin #btn_cancel_I {
    display: flex;
}

.file_row {
    align-items: flex-start;
    width: 100%;
    height: 100%;
    flex-grow: 1;
}
.file_wrap {
    width: 100%;
}
.admin .preview.active {
    overflow: auto;
    /* padding: 0 10px; */
    width: 100%;
    border-collapse: collapse;
    display: block;
}
.user .preview.active {
    height: 207px;
    overflow: auto;
    width: 100%;
    border-collapse: collapse;
    display: block;
}
.preview > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 28px;
    gap: 10px;
}
.preview .file_name p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 465px;
    line-height: 25px;
    align-items: center;
    gap: 8px;
    font-weight: normal;
    word-break: break-word;
    vertical-align: middle;
    text-align: left;
    padding-left: 5px;
    
}
.file_name{
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.preview span {
    width: 20px;
    height: 20px;
    display: inline-flex;
    background-image: url(../../image/icon_file.png);
}
.preview span.pdf {
    background-position-x: -100px;
}
.preview span.hwp {
    background-position-x: -60px;
}
.preview span.pic {
    background-position-x: -80px;
}
.preview span.xlsx {
    background-position-x: -40px;
}
.preview span.none {
    background-position-x: -120px;
}
.preview button {
    border: none;
    background: transparent;
}
.preview .file_download {
    width: 20px;
    height: 20px;
    display: inline-flex;
    background-image: url(../../image/icon_file.png);
    background-position-x: -20px;
    background-size: auto 20px;
}
.preview .file_remove {
    width: 20px;
    height: 20px;
    display: inline-flex;
    background-image: url(../../image/icon_file.png);
}
.preview_tab_wrap {
    /* border: 1px solid #ddd;
    margin-top: 5px; */
    position: relative;
}
 
.btn_preview_tab_wrap {
       /* width: 27%; */
       position: absolute;
       top: -30px;
       right: 0;
}
/* .btn_preview_tab_wrap .btn_preview_tab:last-child {
    border-right: none;
} */
.btn_preview_tab {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    color: #000;
    /* width: calc(100% / 3); */
    /* border-right: 1px solid #ddd; */
    /* border-bottom: 1px solid #ddd; */
    cursor: pointer;
    padding: 0 10px;
}
.btn_preview_tab.active {
    color: #326edc;
    font-weight: bold;
}
.btn_preview_tab.disabled {
    color: #a5a5a5;
}
/* .btn_file,
.preview {
    display: none;
} */
.btn_file.active,
.preview.active {
    display: block;
}
/* .preview_top th:nth-child(2) {
    width: 650px;
} */
.user .preview_tab_content {
    height: 207px;
}
.admin .preview_tab_content {
    height: 165px;
}

.preview_tab_content thead {
    height: 36px;
}
.preview_tab_content .preview_top {
    background-color: #efefef;
}
.preview_tab_content .preview_top th p {
    color: #858585;
    font-weight: normal;
    white-space: nowrap;
    line-height: 25px;
}
table {
    border-collapse: separate;
    width: 100%;
    border-spacing: 0;
}
.preview_tab_content tr {
    height: 28px;
}
.preview_tab_content th,
.preview_tab_content td {
    padding: 3px 0;
}

.preview_tab_content {
    min-height: 103px;
}
.preview.active {
    overflow: auto;
    /* padding: 0 10px; */
    width: 100%;
    border-collapse: collapse;
    display: block;
    height: 100%;
}
/* 영업모달 fileinput 높이 */
#new_business_form .preview_tab_content,
#new_business_form .preview.active {
    height: 155px;
}
#new_business_form .preview.active{
    border: 1px solid #d8d9dc;
}
.user .preview_tab_content,
.user .preview.active {
    height: 210px;
}
.modal_list .icon_input {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url(../../image/icon_input.png);
}
.modal_list .icon_input[data-file="is"] {
    background-position-x: -112px;
}
.modal_list .icon_input[data-file="not"] {
    background-position-x: -96px;
}
.modal_list {
    border: 1px solid #ddd;
}
.contract_tabItem {
    /* min-height: 665px; */
}
.modal_formTab .form_top {
    min-height: 90px;
}
.btn_modalList_del {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: transparent;
    background-image: url(../../image/icon_close_r.png);
    border: none;
}

.list.modal_list a {
    color: #326edc;
}

#installationList .list{
    height: 186px;
}
.btn_add_form_back {
    min-width: 90px;
    height: 36px;
    padding: 0 17px;
    font-size: 14px;
    border-radius: 2px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #326edc;
    border: 1px solid #749de8;
    color: white;
    display: none;
}
.modal_top_content{
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.form_btn_area button.btn_list_edit{
    display: none;
}

/* 0820수정 */
textarea {
    resize: none;
    overflow: auto; 
    padding: 5px 10px;
}
.preview_top th{
    font-weight: normal;
}
#purchase_info_save{
    background: #326edc;
    border: 1px solid #749de8;
    color: white;
}
#contract_admin{
    display: none;
}
.info_prevstep{
    margin-right: auto;
}
#formContractReadyMoney .form_top{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#formContractReadyMoney .form_top .form_top_1
{
    display: flex;
    gap: 20px;
    width: 100%;
}
#formContractReadyMoney .form_top_2{
    display: flex;
    width: 100%;
}
#formContractReadyMoney .form_top_1 > .input_row{
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 175px;
}
#formContractReadyMoney .form_top_2 > .input_group{
    min-width: 175px;
    display: flex;
    gap: 40px;
    flex-direction: row;
}
#formContractReadyMoney .form_top_2 > .input_group:last-child {
    flex-grow: 1;
    gap: 66px;
}
#formContractReadyMoney .form_top_2 > .input_group:first-child > .input_row {
    flex-direction: row;
    gap: 10px;
}
#formContractReadyMoney .form_top_2 > .input_group:first-child > .input_row input{
    min-width: 175px;

}
#formContractReadyMoney .form_top_2 > .input_group:first-child > .input_row:nth-child(2){
    flex-grow: 1;
}
#formContractReadyMoney .form_top_2{
    border: 1px solid #d8d9dc;
    padding: 26px 30px 17px 30px;
    border-radius: 2px;
    position: relative;
    flex-direction: column;
}
#formContractReadyMoney .form_top_2::before{
    content: '관리자 계약관리';
    background: #fcfcfc;
    position: absolute;
    top: -8px;
    left: 46px;
    font-weight: bold;
    font-size: 13px;
    padding: 0 10px;
    color: #326edc;
}
#formContractReadyMoney .form_top_2::after{
    content: '';
    width: 26px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: -8px;
    left: 27px;
    background: #fcfcfc;
    background-image: url(../../image/icon_admin_modal.png);
    background-repeat: no-repeat;
    background-position: center right;
}
#formContractReadyMoney .form_top_2 .input_row{
    align-items: center;

}
#formContractReadyMoney .form_top_2 .input_row:last-child{
    margin-bottom: 12px;
}

/* btn_onoff  */
.btn_onoff input[type="checkbox"] + label,
.btn_onoff input[type="radio"] + label {
    width: 56px;
    height: 25px;
    position: relative;
    background: #d9d9d9;
    border-radius: 1000px;
    display: flex;
    align-items: center;
    transition: all 0.5s;
}

.btn_onoff input[type="checkbox"] + label::after,
.btn_onoff input[type="radio"] + label::after {
    content: "";
    display: inline-block;
    width: 19px;
    height: 19px;
    position: absolute;
    background: white;
    border-radius: 50%;
    left: 3px;
    transition: left 0.5s;
}
.btn_onoff input[type="checkbox"]:checked + label {
    background: #1472ff;
    transition: all 0.5s;
}

.btn_onoff input[type="checkbox"]:checked + label::after,
.btn_onoff input[type="radio"]:checked + label::after {
    left: 34px;
    transition: left 0.5s;
}

.btn_onoff input[type="checkbox"]:checked + label::before,
.btn_onoff input[type="radio"]:checked + label::before {
    position: absolute;
    content: "YES";
    font-size: 12px;
    left: 9px;
    color: white;
    font-weight: bold;
    top: 4px;
}

.btn_onoff input[type="checkbox"] + label::before,
.btn_onoff input[type="radio"] + label::before {
    position: absolute;
    content: "NO";
    font-size: 12px;
    color: white;
    font-weight: bold;
    left: 26px;
    top: 4px;
}
.input_row:has(.btn_onoff) {
    justify-content: space-between;
}
.input_wrap.btn_onoff {
    flex-grow: 0;
    display: flex;
    align-items: center;
}
.contractPayType{
    font-weight: bold;
}
.payCollect .icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: auto 20px ;
    background-image: url(../../image/icon_payment.png);
}
.payCollect[pay_collect= "0"] .icon{
    background-position-x: -20px;
}

/* select */
.selectBox {
    height: 30px;
    position: relative;
}
.inputRow:has(.selectBox){
    border-radius: 2px;
}
.selectBox button {
    background: white;
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border: 1px solid #ddd;
}
.iconSelect {
    display: inline-block;
    width: 12px;
    height: 6px;
    background: url(../../image/IconSelect.png) no-repeat;
    background-size: contain;
}
.optionName {
    pointer-events: none;
    padding: 5px 10px;
    font-weight: bold;
    color: #9d9d9d;
}

.selectBoxOption {
    position: absolute;
    width: 100%;
    top: 40px;
    z-index: 1;
    padding: 5px 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 2px;
    display: none;
    box-shadow: rgb(76 91 106 / 6%) 0px 0px 0px 0.2rem;
}
.selectBoxOption.active {
    display: block;
}
.selectBoxOption li {
    border-bottom: 1px solid #ddd;
    height: 30px;
    background: white;
    font-size: 14px;
}
li:has(.BtnOption):hover .BtnOption{
    background: #eef5ff;
}
.selectBoxOption li:last-child {
    border-bottom: none;
}
.BtnOption {
    height: 100%;
    line-height: 30px;
}
/* 정렬 버튼 */
#BtnSort{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    height: 30px;
    padding: 3px 8px;
    border: 1px solid #c6ccd5;
    background: white;
}
#BtnSort .icon{
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(../../image/icon_sort.png);
}
/* 정렬 모달 */
.btn_sort_wrap{
    position: relative;
}
.sortModal{
    display: none;
    position: absolute;
    bottom: 0;
    /* right: 0; */
    left: 0;
    background: white;
    /* width: 300px; */
    height: auto;
    /* min-height: 100px; */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transform: translateY(110%);
    border-radius: 2px;
    border: 1px solid #eeeeee;
    padding: 10px 0;
}
.sortModal .sortListRow{
    display: flex;
    height: 45px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 5px 20px;
}
.sortModal .sortListRow .inputRow{
    min-width: 120px;
}
.sortModal .AddSortWrap{
    position: relative;
    width: 100%;
    display: flex;
    height: 30px;
}
.sortModal .AddSortWrapSelect{
    display: none;
    position: absolute;
    bottom: 0;
    left: 20px;
    background-color: white;
    z-index: 10000;
    transform: translateY(100%);
    padding: 10px 2px;
    height: auto;
    border-radius: 2px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.sortModal #AddSortMonthReport{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #8F949C;
    background: white;
    padding: 0 20px;
    font-weight: bold;
}
.sortModal #AddSortMonthReport:hover{
    background: #cbced324 ;
    color: #1472FF;
}
.sortModal #AddSortMonthReport:hover .icon{
    background-position-x: -16px;
}
.sortModal #AddSortMonthReport .icon{
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(../../image/icon_sort.png);
    background-position-y: -64px;
}
.sortModal .sortTitle{
    display: flex;
    align-items: center;
    gap: 5px;
    height: 45px;
    min-width: 75px;
}
.sortModal .sortTitle p{
    white-space: nowrap;
}
.sortModal .sortTitle .icon{
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(../../image/icon_sort.png);
}
.sortModal .sortTitle[sort_type="0"] .icon{
    background-position-y: -16px;
}
.sortModal .sortTitle[sort_type="1"] .icon{
    background-position-y: -32px;
}
.sortModal .sortTitle[sort_type="2"] .icon{
    background-position-y: -48px;
}
.sortModal .AddSortWrapSelect .sortTitle{
    height: 30px;
}
.BtnsortListDel{
   width: 20px;
   height: 20px;
   display: inline-block;
   background-color: white;
}
.BtnsortListDel .icon{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../../image/icon_sort.png);
    background-position-y: -80px;
}
.BtnsortListDel .icon:hover{
    background-position-x: -16px;
}
.BtnsortListDel:hover{
    background-color: #ff25251f;
}
.AddSortWrapSelect .sortTitle{
    cursor: pointer;
    padding: 3px 20px;
}
.AddSortWrapSelect .sortTitle:hover{
    background: #cbced324 ;
    color: #1472FF;
}
.AddSortWrapSelect .sortTitle:hover .icon{
    background-position-x: -16px;
}